# Binaries
win-secrets

# Go build artifacts etc
*.exe
*.exe~
*.dll
*.so
*.dylib
repomix-output.xml
secrets.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
